.header {
  padding: 6px;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  background-color: rgb(198, 167, 105)
}

.link {
  color: white;
  text-decoration: none;
}

img {
  width: 100px;
}

.InputBase {
  padding-left: 10px;
}
